<div class="col-sm-6 col-md-4 col-md-offset-4">
  <div class="thumbnail">
    <img src="https://http.cat/404" *ngIf="cepModel == null">
    <div class="caption" *ngIf="cepModel != null">
      <h3>{{cepModel.logradouro}}</h3>
      <table class="table" *ngIf="cepModel.logradouro != null">
        <tbody>
          <tr>
            <td>
              Bairro
            </td>
            <td>
              {{cepModel.bairro}}
            </td>
          </tr>
          <tr>
            <td>
              Cidade
            </td>
            <td>
              {{cepModel.localidade}}
            </td>
          </tr>
          <tr>
            <td>
              UF
            </td>
            <td>
              {{cepModel.uf}}
            </td>
          </tr>
          <tr>
            <td>
              DDD
            </td>
            <td>
              {{cepModel.ddd}}
            </td>
          </tr>
          <tr>
            <td>
              GIA
            </td>
            <td>
              {{cepModel.gia}}
            </td>
          </tr>
          <tr>
            <td>
              IBGE
            </td>
            <td>
              {{cepModel.ibge}}
            </td>
          </tr>
          <tr>
            <td>
              SiaFi
            </td>
            <td>
              {{cepModel.siafi}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
